<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="text/html" />
        </intent>
    </queries>


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:logo="@drawable/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="ts.realms.m2git.ui.screens.main.RepoListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/clone_with_mgit">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="*" />
                <data android:host="*" />
                <data android:pathPattern="@string/ending_with_git" />
            </intent-filter>
            <intent-filter android:label="@string/clone_with_mgit">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/https" />
                <data android:scheme="@string/http" />
                <data android:scheme="@string/git" />
                <data android:scheme="@string/ssh" />
                <data android:host="@string/github.com" />
                <data android:host="@string/gitlab.com" />
                <data android:host="@string/bitbucket.com" />
                <data android:host="@string/notabug.org" />
            </intent-filter>
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity"
            android:label="@string/title_activity_repo_detail"
            android:parentActivityName="ts.realms.m2git.ui.screens.main.RepoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.main.RepoListActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.components.fragments.ViewFileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.components.fragments.BranchChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.screens.commitDiff.CommitDiffActivity"
            android:parentActivityName="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.repoDetail.RepoDetailActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.components.fragments.ImportRepositoryActivity"
            android:label="@string/title_activity_import_repository"
            android:parentActivityName="ts.realms.m2git.ui.screens.main.RepoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.main.RepoListActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.components.fragments.PrivateKeyManageActivity"
            android:label="@string/title_activity_private_key_manage"
            android:parentActivityName="ts.realms.m2git.ui.screens.main.RepoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.main.RepoListActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.components.fragments.ExploreFileActivity"
            android:label="@string/title_activity_explore_file"
            android:parentActivityName="ts.realms.m2git.ui.components.fragments.PrivateKeyManageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.components.fragments.PrivateKeyManageActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.screens.settings.UserSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="ts.realms.m2git.ui.screens.main.RepoListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.main.RepoListActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.screens.settings.CredentialActivity"
            android:label="@string/title_activity_credential_manager"
            android:parentActivityName="ts.realms.m2git.ui.screens.settings.UserSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.settings.UserSettingsActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.components.fragments.ExploreRootDirActivity"
            android:label="@string/title_activity_explore_file"
            android:parentActivityName="ts.realms.m2git.ui.screens.settings.UserSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.settings.UserSettingsActivity" />
        </activity>
        <activity
            android:name="ts.realms.m2git.ui.screens.settings.SettingsBackupActivity"
            android:label="Backup"
            android:parentActivityName="ts.realms.m2git.ui.screens.settings.UserSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ts.realms.m2git.ui.screens.settings.UserSettingsActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
